body {
  background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif !important;
    background-image: url('background.png');
    background-size: cover;
}
h1 {
    margin: 0 auto;
    width: 20%;
    color: rgb(255, 255, 255);
    text-align: center;
    transition: 0.3s;
    outline: 1cm white;
} 
h2 {
    color: white;
    text-align: center;
}
a:link {
  transition: 0.3s;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a:hover {
  text-decoration: none;
  color: #ffffff;
}
a:active {
  text-decoration: none;
  color: #ffffff;
}
#felso{
  transition: 0.3s;
  margin-bottom: 0px;
}
#felso:hover {
  color: white;
  text-shadow: 0 0 15px #ffffff;
}
#also {
  font-size: small;
  margin-top: 0px;
}
