@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #020000;
}

.header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
   
    
}

a {
    text-decoration: none;
}

.logo{
    flex: 1;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    margin-left: 35px;
    font-size: 18px;
    color: #929292;
    font-weight: 500;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i)) ;
    transition: all 500ms;
    
}
.burger-menu{
    color: #929292;
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i)) ;
    display: none;
}


.mobile-menu a{
    margin: 10px;
}
.mobile-menu a:hover{
    padding-left: 10px;
    transition: .3s ease-in-out;
}

.navbar a:hover,
a.active {
    color: rgb(105, 0, 0);
}



.home{
    display: flex;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: space-between;
    padding: 100px 10%;
    
}
.home-content{
    color: #fff;
    margin-right: 30px;
   
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;
    opacity: 0;
}
.home-content h3 span{
    color: rgb(255, 0, 0);
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0.7s;
    opacity: 0;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.7s;
    opacity: 0;
}
.home-content p{
    margin-bottom: 20px;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}
.social-media a{
    display: inline-flex;
    color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 0, 0);
    border-radius: 50%;
    background: transparent;
    padding: 10px;
    margin:30px 15px 30px 0;
    font-size: 20px;
    transition: .5s ease;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    opacity: 0;
}

.social-media a:hover{
    background: rgb(94, 0, 0);
    color: #1f242d;
    box-shadow: 0 0 15px rgb(255, 0, 0);
}
.home-image{
    max-width: 600px;
    position: relative;
    display: flex;
    align-items: center;
}
.home-image img{
    max-width: 450px;
    border-radius: 5px;
    animation: zoom 1.5s ease forwards;
    animation-delay: .5s;
    opacity: 0;
    transition: .3s ease-in-out;    
}

.home-image::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 14px;
    left: 14px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
    transition: .3s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.5s;
    z-index: -1;
}

.overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #26030374;    
    transition: opacity 0.3s;
    animation: zoom 2s ease ;
    z-index: 1;
  }
  .home-image:hover .overlay{
    opacity: 0;
  }
.home-image:hover::after {
    top: 20px;
    left: 20px;
    
}

.home-image:hover.home-image img{
    margin:0 5px 5px 0 ;

}

.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #1f242d;
    background: rgb(255, 0, 0);
    width: 175px;
    height: 45px;
    border-radius: 40px;
    box-shadow: 0 0 15px rgb(255, 0, 0);
    font-weight: 600;
    letter-spacing: 1px;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    opacity: 0;
    
}

/* KAYFRAMES ANIMATION */

@keyframes slideRight{
    0% {
        transform: translateX(-100px);
        opacity: 0;
        
    }
    100% {
        transform: translateX(0);
        opacity: 1;

    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }

}


@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes zoom{
    0%{
        transform:scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@media screen and (max-width:1050px) {
    .home{
        flex-direction: column;
    }
    .home-image{
        margin:50px;
        
    }
}

@media  screen and (max-width: 768px) {
  
    .navbar  {
     display: none;
    }

    .mobile-menu {
        position: absolute;
        display:inline-flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        top: 65px;
        right: 10%;
        background: #031926;
        width: 80%;
        z-index: 999;
        padding: 5px; 
        border-radius: 5px;
        animation: slideBottom .5s ease forwards;
        opacity: 0;
       
    }
    .burger-menu {
      display: block;
      font-size: 30px;
      cursor: pointer;
    }
  }

@media  screen and (max-width: 575px) {
    .home-content{
       margin: 0;
       
    }
    .home-content h3{
        font-size: 28px;
    }
    .home-content h1{
        font-size: 46px;
    }
}
 
@media  screen and (max-width: 450px) {
    .home-content h3{
        font-size: 21px;
    }
    .home-content h1{
        font-size: 36px;
    }
    .home-image{
       margin-bottom: 30px;
        
    }
    .home-image img{
        max-width: 280px;
    }
}
 
  