body {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif !important;
    background-color: pink;
    background-size: cover;
}
body::selection {
  color: white;
  background: black;
}
h1 {
    margin: 0 auto;
    width: 20%;
    color: rgb(255, 255, 255);
    text-align: center;
    transition: 0.3s;
    outline: 1cm white;
} 
h1::selection {
  color: white;
  background: black;
}
h2 {
    color: black;
    text-align: center;
}
h2::selection {
  color: white;
  background: black;
}
a:link {
  transition: 0.3s;
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
a:active {
  text-decoration: none;
  color: black;
}
a::selection {
  color: white;
  background: black;
}
#felso{
  transition: 0.3s;
  margin-bottom: 0px;
}
#felso:hover {
  color: black;
  text-shadow: 0 0 15px #ffffff;
}
#also {
  font-size: small;
  margin-top: 0px;
}
